@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --buttonColor--: #2a74ed;
  --main-text--: #444444;
}

#navbar {
  height: 50px;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  padding: 0 10px;
}

#navbar .logo {
  width: 115px;
}

.pages li {
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
}

.pages li:hover {
  color: #2a74ed;
  cursor: pointer;
}

/* navbar right side  */

.nav-right {
  align-items: center;
}

.nav-right ul li {
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
}

.nav-right ul li i {
  font-size: 1.3rem;
}

/* Cart Button */

.cart-btn {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: var(--buttonColor--);
  padding: 9px 18px;
  border-radius: 30px;
}

.cart-btn span {
  font-size: 1rem;
}

/* Hero Section  */

#hero-section {
  margin: 0 15px;
}

.hero-content {
  background: url(../src/images/main-banner.png) no-repeat center center/cover;
  height: 80vh;
  max-width: 1600px;
  margin: auto;
  border-radius: 20px;
  padding: 0 100px;
}

.main-heading {
  font-size: 3.3rem;
  font-weight: 600;
  width: 40%;
  font-family: "Poppins", sans-serif;
}

.hero-content .type-text {
  font-size: 3.3rem;
  font-weight: 600;
  width: 40%;
  font-family: "Poppins", sans-serif;
   white-space: nowrap;
  overflow: hidden;
  animation: typewriter 3.5s steps(15) infinite alternate, blink 880ms steps(15) infinite normal;
  border-right: 1px solid black;
}


@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 55%;
  }
}

@keyframes blink {
  from {
    border-color: black;
  }

  to {
    border-color: transparent;
  }
}

.hero-content > span {
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hero-content p {
  margin: 20px 0;
  width: 38%;
}

.buy-btn {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: var(--buttonColor--);
  padding: 15px 24px;
  border-radius: 30px;
}

.buy-btn:hover {
  background-color: black;
}
/* Product section */

#product-section {
  margin-top: 25px;
}

.product-content {
  display: flex;
  gap: 35px;
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
}

.product {
  min-height: 300px;
  width: 400px;
  overflow: hidden;
}

.product .product-img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.product .product-img:hover {
  transform: scale(1.15);
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product > div {
  position: absolute;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.product > div span {
  color: grey;
  font-size: 0.8rem;
}

/* Previous and next button */

.buttons {
  align-self: center;
  z-index: 1;
}

.buttons button {
  background-color: var(--white--);
  border: 0.5px solid black;
  padding: 10px 14px;
  border-radius: 50%;
}

.buttons .prev-btn {
  position: absolute;
  left: 8px;
}
.buttons .next-btn {
  position: absolute;
  right: 8px;
}

.btn {
  background-color: var(--buttoncolor--);
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 1rem;
  color: var(--white--);
  font-weight: 500;
  border: none;
}


#smart-product-section {
  margin: 100px 20px;
}

.smart-product-content {
  display: flex;
  max-width: 1600px;
  margin: auto;
  gap: 120px;
  position: relative;
}

.left {
  width: 50vw;
  height: 400px;
  position: relative;
}

.smart-product-img {
  width: 100%;
  height: 100%;
}

.right {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.right h3 {
  font-size: 2.3rem;
  font-weight: 500;
  width: 90%;
  line-height: 50px;
}

.right hr {
  width: 130px;
  height: 5px;
  background-color: var(--primary-color--);
  border-radius: 4px;
}

.right p {
  margin: 30px 0;
  width: 80%;
}

.smart-product-content .left i {
  background-color: white;
  font-weight: 300;
  padding: 5px 6px;
  border-radius: 30px;
  cursor: pointer;
}

.smart-product-content .left .icon-1 {
  position: absolute;
  top: 30px;
  left: 210px;
}

.smart-product-content .left .icon-2 {
  position: absolute;
  top: 210px;
  left: 75px;
}

.smart-product-content .left .icon-3 {
  position: absolute;
  top: 160px;
  right: 150px;
}

.smart-product-content .left .icon-4 {
  position: absolute;
  bottom: 30px;
  right: 110px;
}

/* Hover Image  */

.hover-item {
  position: absolute;
  width: 250px;
  height: 400px;
  box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: center;
}

.hover-item-1 {
  left: 100px;
  top: 60px;
}

.hover-item-2 {
  left: 110px;
  top: 30px;
}

.hover-item-3 {
  left: 235px;
  top: 60px;
}

.hover-item-4 {
  left: 370px;
  top: -60px;

}

.hover-item img {
  width: 200px;
}

.hover-item h4 {
  font-size: 0.80rem;
  width: 200px;
  text-align: center;
  margin-top: 30px;
}

.hover-item .price {
  color: grey;
  font-size: 0.85rem;
}

.rating i {
  color: #FDD835;
  font-size: 0.90rem;
}

.hover-item button {
  background-color: #222222;
  color: white;
  border: none;
  padding: 10px 30px;
  margin-top: 15px;
  border-radius: 4px;
}

.hover-item button:hover {
  background-color: #444444;
}


#tranding-item-section {
  margin-top: 70px;
}

.tranding-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tranding-item-content h1 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 500;
}

.tranding-item-content hr {
  width: 130px;
  height: 5px;
  background-color: var(--primary-color--);
  border-radius: 4px;
  margin: 10px 0;
}

/* Tranding Item Section  */

.tranding-item {
  display: flex;
}

.tranding-items .item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 300px;
}


/* Previous and next button */

.buttons {
  align-self: center;
  z-index: 1;
}

.buttons button {
  background-color: var(--white--);
  border: 0.5px solid black;
  padding: 10px 14px;
  border-radius: 50%;
}

.buttons .prev-btn {
  position: absolute;
  left: 8px;
}
.buttons .next-btn {
  position: absolute;
  right: 8px;
}

.btn {
  background-color: var(--buttoncolor--);
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 1rem;
  color: var(--white--);
  font-weight: 500;
  border: none;
}
/* Utility Classes */

.main-text {
  font-size: 1rem;
  color: var(--main-text--);
}

.product-heading {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Poppins", serif;
}